##### 1. Lengkapi tabel berikut ini!

| Sequence Type | Mutability | Access by Index | Duplicate Element | Change Element | Add / Remove Element |
| ------------- | ---------- | --------------- | ----------------- | -------------- | -------------------- |
| List          |      True      |       true          |      true             |           true    |      true                |
| Tuple         |     false       |   true              |  true                 |            false    |         true             |
| Set           |       false     |       true          |        false           |      false          |      true                |
| Dictionary    |      true      |      false           |   false                |      true          |             true         |

##### 2. Terdapat data sebagai berikut: data: 1,2,1,2,3,10,11,5,6,19,20,30,50,50,50,20,9,4,5,12,11,11,30,50,90,80,80 dengan mengimplementasi sequence type , buatlah program untuk:

##### a. Menghitung rata rata dari data tersebut

In [ ]:
data = [1,2,1,2,3,10,11,5,6,19,20,30,50,50,50,20,9,4,5,12,11,11,30,50,90,80,80]
data.sort()
print(data)
total = sum(data)/len(data)
print(total)

##### b. Mencari apa saja nilai unik yang dari data tersebut

In [ ]:
data = [1,2,1,2,3,10,11,5,6,19,20,30,50,50,50,20,9,4,5,12,11,11,30,50,90,80,80]
data.sort()
print('data',data)
def get_unique(data):
  unique_data = []
  for ls in data :
    if not (ls in unique_data):
      unique_data.append(ls)
  return unique_data

unique_data = get_unique(data)
print('unique_data',unique_data)

##### c. Menghitung frekuensi kemunculan dari setiap elemen unik tersebut

In [ ]:
data = [1,2,1,2,3,10,11,5,6,19,20,30,50,50,50,20,9,4,5,12,11,11,30,50,90,80,80]
data.sort()
print('data',data)
print("Banyak frekuensi dari setiap elemen unik adalah sebagai berikut : ")
count={}
for i in data :
  if i in count :
    count[i]+=1
  else :
    count[i]=1
for key,value in count.items():
  print(key,"=",value)

##### 3.Terdapat tabel grade mahasiswa sebagai berikut:

##### a. Jelaskan sequence type apa yang cocok digunakan untuk mengolah data tersebut!

In [ ]:
mhs1 = [1301142289, "ISA", "A", "A", "A", "A", "A"]
mhs2 = [1301140389,	"LIA", "C",	"A",	"B", "A",	"AB"]
mhs3 = [1301142099,	"NAMDY", "B",	"B", "BC", "AB", "D"]
mhs4 = [1301142091,	"SANDI", "B",	"C", "D",	"A", "A"]

##### b. Buatlah program untuk menghitung ipk dari setiap mahasiswa pada tabel tersebut!

In [ ]:
def convert_indeks(i):
    nilai = 0
    if i == "A" :
      nilai = 4.0
    elif i == "AB" :
      nilai =  3.5
    elif i == "B" :
      nilai = 3.0
    elif i == "BC" :
      nilai =  2.5
    elif i == "C" :
      nilai = 2.0
    elif i == "CD" :
      nilai = 1.5
    else :
      nilai = 1.0
    return nilai

def IPK(li):
  seq_indeks = li[2:]
  total =0
  for i in seq_indeks:
    total = total + convert_indeks(i)
  rerata = total / len(seq_indeks)
  return print(rerata)

grade_mhs1 = IPK(mhs1)
grade_mhs2 = IPK(mhs2)
grade_mhs3 = IPK(mhs3)
grade_mhs4 = IPK(mhs4)

##### 4.The Anagram Problem

Original Text: 'Institut Teknologi Sumatera'

Result Text: EAIGLKNMROTSU

Buatlah program untuk mengubah sebuah string menjadi string lain dengan rule sebagai berikut:

Hasil result string seluruhnya adalah capital.
Tidak ada huruf yang duplikat dalam string result.
Posisi character si string baru terurut secara ascending, namun index genap dan ganjil di tukar dalam pair. Contoh: AEJK menjadi EAKJ.

In [ ]:
original_text = 'Institut Teknologi Sumatera'
upper_text = original_text.upper()
unik = list(set(upper_text))
unik.remove(' ')
unik.sort()

def solve(unik):
    length = len(unik)
    for i in range(0,length,4):
        if(i+1<length):
            unik[i], unik[i+1] = unik[i+1], unik[i]
        if(i+2<length):
            unik[i+2], unik[i+3] = unik[i+3], unik[i+2]
    return unik

result_text = solve(unik)
print(result_text)
print(''.join(result_text))

['E', 'A', 'I', 'G', 'L', 'K', 'N', 'M', 'R', 'O', 'T', 'S', 'U']
EAIGLKNMROTSU